/* Style */
body {
    font: 18px/18px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url('../absensi/sprinkles.png');
    color: #333;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header {
    padding: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 20px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    background-color: lightskyblue;
    color: #fff;
}


.hero {
    border-top: 5px solid salmon;
}

.content {
    padding: 280px;
    height: 380px;
    width: 40px;
    background-image: url('../absensi/absensi.jpg');
    background-size: cover;
    background-position: 140px 0;
}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}